@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
		--theme-palette-50: #a3a3a3;
		--theme-palette-500: #171717;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
		--theme-palette-50: #a3a3a3;
		--theme-palette-500: #171717;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
		font-family: "Geist Sans", sans-serif;
	}


	/* Hide the # symbols that appear before headings */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
	display: none !important;
  }
  
  /* Alternative approach if the above doesn't work */
  .heading-content::before, 
  .heading::before,
  .heading-wrapper::before,
  [class*="heading"]::before {
	display: none !important;
  }
}
